$headlineFont: 'Playfair Display', serif;
$paragraphFont: 'Lato', sans-serif;
$grey: #c3c3c3;
$paragraphBlack: #333;
$cardGrey: #838383;

/* Nova paleta de cores */
$pink-light: #f18fa5;
$purple-dark: #5f2055;
$pink-medium: #df4a6d;
$off-white: #faf5f6;
$red-medium: #b82f56;
$purple-very-dark: #3c0f24;